@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

    border-radius: 20px 20px 10px 10px;
}

.imagemPost{
    width: 100%;
    height: 700px;

    object-fit: fill;
    object-position: center;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.boxTitulo{
    display: flex;
    flex-direction: column;

    background-color: #fadfde;
    height: 200px;

    padding-top: 3%;
    border-radius: 20px 20px 0px 0px;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.titulo{
    font-size: 60px;
    font-family: "Cormorant";
    font-weight: 500;
    font-style: italic;

    align-self: center;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.boxSubtitulo{
    display: flex;

    justify-content: center;
    align-items: center;

    margin-bottom: 2em;
    margin-top: 0.2em;

    gap: 3em;
}

.dataLabel, .temaLabel, .conteudoLabel{
    display: none;
}


.data, .autor, .tema{
    font-size: 20px;
    /* font-weight: bold; */
}

.boxConteudo {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em; /* Adicionado para criar espaço na parte inferior */
    background-color: rgb(255, 255, 255, 1);
    border-radius: 0px 0px 10px 10px;
    height: auto;
    margin-top: -5px;
    z-index: 10;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.quillContent a {
    color: blue;
    text-decoration: underline;
}

.quillContent{
    font-family: "Cormorant", serif;
    font-weight: 450;
    font-size: 24px;
}

.divisor{
    width: 100px;
    height: 100px;
}