.container {
  padding: 20px;
  max-width: 1200px; /* Aumentei o max-width para acomodar os blocos */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.postsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual */
  gap: 20px; /* Espaçamento entre os blocos */
  list-style: none;
  padding-left: 0; /* Remove o preenchimento padrão da lista */
  padding-top: 0; /* Remove o preenchimento padrão da lista */
  margin-top: 20px;
}

.postItem {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: auto;
}

.postItem:hover {
  transform: scale(1.02); /* Aumenta o tamanho do item ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.postLink {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.imageContainer {
  width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
  margin-bottom: 10px;
}

.image {
  width: 100%; /* Ajusta a imagem para preencher o contêiner */
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que o conteúdo ocupe todo o espaço disponível */
  height: 100%;
}

.postTitle {
  font-size: 1.5em;
  margin: 0;
}

.postTheme {
  font-size: 1em;
  margin: 5px 0;
}

.postExcerpt {
  font-size: 0.9em;
  color: #555;
  flex-grow: 1; /* Faz com que o texto ocupe o espaço disponível */
}

.button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  background: rgb(164, 46, 194);
  color: #fff;
  cursor: pointer;
  align-self: flex-end; /* Alinha o botão ao final do bloco */
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttonText {
  transform: translateX(8px); /* Ajusta a distância inicial */
  font-size: 1em; /* Reduz o tamanho da fonte */
  font-weight: 600; /* Mantém o peso da fonte */
  transition-duration: 0.3s;
}

.iconer {
  transform: translateY(30px); /* Ajusta a posição inicial do ícone */
  transition-duration: 0.3s;
  z-index: -1;
}

.button:hover .buttonText {
  transform: translateX(0px);
}

.button:hover .iconer {
  transform: translateY(2.5px);
  z-index: 0;
}

.boxSearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 10px;
  width: 30%;
}

@media screen and (max-width: 1024px) {
  .postsList {
    grid-template-columns: repeat(3, 1fr); /* Reduz para 3 colunas em telas médias */
  }
}

@media screen and (max-width: 768px) {
  .postsList {
    grid-template-columns: repeat(2, 1fr); /* Reduz para 2 colunas em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .postsList {
    grid-template-columns: 1fr; /* Reduz para 1 coluna em telas pequenas */
  }
}
