@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.container {
    display: flex;
    flex-direction: column;
  }

  .molduraContainer{
    width: 30em;
    height: 30em;
    transform: translate(0%, 13%) rotate(-15deg);
    z-index: 3;
  }

  .cadernoContainer {
    width: auto;
    transform: translate(0%, -40%);
    z-index: 2;
  }

  .caderno{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .textoTitulo {
    position: absolute;
    top: 0.3%;
    left: 33%;

    font-family: 'Sacramento', cursive;
    font-weight: 200px;
    color: black;
    font-size: 95px;
    z-index: 1;
  }

  .textoCorpoUm {
    position: absolute;
    top: 15%;
    left: 32%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100px;
    color: black;
    font-size: 33px;
    z-index: 1;
  }

  .textoCorpoDois {
    position: absolute;
    top: 28.7%;
    left: 32%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100px;
    color: black;
    font-size: 33px;
    z-index: 1;
  }

  .textoCorpoTres {

    position: absolute;
    top: 42.5%;
    left: 5%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100px;
    text-indent: 180px;
    color: black;
    font-size: 33px;
    z-index: 1;
  }

  .textoCorpoQuatro {

    position: absolute;
    top: 61%;
    left: 5%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100px;
    color: black;
    font-size: 33px;
    z-index: 1;
  }

  .textoCorpoCinco {

    position: absolute;
    top: 70.4%;
    left: 4.5%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100px;
    color: black;
    font-size: 33px;
    z-index: 1;
  }

  .textoAssinatura {
    position: absolute;
    top: 80.5%;
    left: 65%;

    font-family: 'Sacramento', cursive;
    font-style: italic;
    font-weight: 100;
    color: black;
    font-size: 80px;
    z-index: 1;
  }
  