.container{
    display: flex;
    flex-direction: row;

    gap: 0em;
}

.sectionMainBody{
    width: 1050px;
    height: 150dvh;

    margin-left: 5.1em;
}

.sectionSideBar{
    display: flex;
    flex-direction: column;
    gap: 3em;

    /* background-color: blue; */

    width: 17dvw;
    height: 85dvh;
}

.boxSearchBar{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}