.container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sectionMainBody{
    margin-left: 5em;
}

.sectionSideBar{
    display: flex;
    flex-direction: column;
    gap: 3em;

    /* background-color: blue; */

    width: 17dvw;
    height: 85dvh;
}

.boxSearchBar{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (min-width: 370px) and (max-width: 430px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .sectionMainBody{
        width: 100px;
        height: 100dvh;

        margin-left: 0em;
    }

    .sectionSideBar{
        width: 80dvw;
        height: 85dvh;
    }
}

@media (min-width: 1350px) and (max-width: 1536px){
    .sectionMainBody{
        margin-left: 0em;
    }


}

