.wrapperLogin {
  --input-focus: #DB7093; /* Rosa mais claro */
  --font-color: #000000; /* Texto em roxo mais forte */
  --font-color-sub: #fccfcb; /* Subtexto em roxo alternativo mais claro */
  --bg-color: #FFE9E7; /* Fundo do formulário */
  --bg-color-alt: #FFE4E1; /* Fundo alternativo mais suave */
  --main-color: #292929; /* Cor principal roxo mais forte */
}

/* switch card */
.switch {
  transform: translateY(-250px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37.5px; /* Ajustado */
  width: 75px; /* Ajustado */
  height: 37.5px; /* Ajustado */
}

.cardSide::before {
  position: absolute;
  content: 'Entrar';
  left: -112.5px; /* Ajustado */
  top: 0;
  width: 150px; /* Ajustado */
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.cardSide::after {
  position: absolute;
  content: 'Inscrever';
  left: 112.5px; /* Ajustado */
  top: 0;
  width: 150px; /* Ajustado */
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 6px; /* Ajustado */
  border: 2.5px solid var(--main-color); /* Ajustado */
  box-shadow: 5px 5px var(--main-color); /* Ajustado */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color-alt);
  transition: 0.3s;
}

.slider::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 37.5px; /* Ajustado */
  width: 37.5px; /* Ajustado */
  border: 2.5px solid var(--main-color); /* Ajustado */
  border-radius: 6px; /* Ajustado */
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color); /* Ajustado */
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider::before {
  transform: translateX(50px); /* Ajustado */
}

/* card */
.flipCardInner {
  width: 500px; /* Ajustado */
  height: 625px; /* Ajustado */
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
  padding: 37.5px; /* Ajustado */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--bg-color-alt);
  gap: 37.5px; /* Ajustado */
  border-radius: 6px; /* Ajustado */
  border: 2.5px solid var(--main-color); /* Ajustado */
  box-shadow: 5px 5px var(--main-color); /* Ajustado */
}

.flipCardBack {
  width: 100%;
  transform: rotateY(180deg);
}

.flipCardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37.5px; /* Ajustado */
}

.title {
  margin: 37.5px 0; /* Ajustado */
  font-size: 37.5px; /* Ajustado */
  font-weight: 900;
  text-align: center;
  color: var(--font-color);
}

.flipCardInput {
  width: 375px; /* Ajustado */
  height: 62.5px; /* Ajustado */
  border-radius: 6px; /* Ajustado */
  border: 2.5px solid var(--main-color); /* Ajustado */
  background-color: white;
  box-shadow: 5px 5px var(--main-color); /* Ajustado */
  font-size: 22.5px; /* Ajustado */
  font-weight: 600;
  color: var(--font-color);
  padding: 12.5px 18.75px; /* Ajustado */
  outline: none;
}

.flipCardInput::placeholder {
  color: var(--font-color);
  opacity: 0.7;
}

.flipCardInput:focus {
  border: 2.5px solid var(--input-focus); /* Ajustado */
}

.flipCardBtn:active, .buttonConfirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3.75px, 3.75px); /* Ajustado */
}

.flipCardBtn {
  margin: 37.5px 0; /* Ajustado */
  width: 187.5px; /* Ajustado */
  height: 62.5px; /* Ajustado */
  border-radius: 6px; /* Ajustado */
  border: 2.5px solid var(--main-color); /* Ajustado */
  background-color: var(--input-focus);
  box-shadow: 5px 5px var(--main-color); /* Ajustado */
  font-size: 27.5px; /* Ajustado */
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.toggle:checked ~ .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardInner {
  pointer-events: none;
}

.flipCardBtn, .flipCardInput {
  pointer-events: auto;
}


@media (min-width: 1280px) and (max-width: 1536px) {
  /* Ajustar tamanho do switch */
  .switch {
    transform: translateY(-200px);
    gap: 30px;
    width: 60px;
    height: 30px;
  }

  .cardSide::before, .cardSide::after {
    width: 125px;
    font-size: 16px;
  }

  /* Ajustar slider */
  .slider {
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }

  .slider::before {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-shadow: 0 2.5px 0 var(--main-color);
  }

  .toggle:checked + .slider::before {
    transform: translateX(40px);
  }

  /* Ajustar tamanho do card */
  .flipCardInner {
    width: 400px;
    height: 500px;
  }

  .flipCardFront, .flipCardBack {
    padding: 30px;
    gap: 30px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }

  .flipCardForm {
    gap: 30px;
  }

  .title {
    margin: 30px 0;
    font-size: 30px;
  }

  /* Ajustar inputs e botões */
  .flipCardInput {
    width: 300px;
    height: 55px;
    font-size: 20px;
    padding: 10px 20px;
  }

  .flipCardBtn {
    margin: 30px 0;
    width: 170px;
    height: 55px;
    font-size: 22px;
  }

  .flipCardBtn:active {
    transform: translate(3px, 3px);
  }
}

